# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

Build/

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
BluetoothLE/docs/badge.svg
BluetoothLE/docs/Classes.html
BluetoothLE/docs/Enums.html
BluetoothLE/docs/Extensions.html
BluetoothLE/docs/index.html
BluetoothLE/docs/Protocols.html
BluetoothLE/docs/search.json
BluetoothLE/docs/Structs.html
BluetoothLE/docs/undocumented.json
BluetoothLE/docs/Classes/CentralService.html
BluetoothLE/docs/Classes/ConnectedCentral.html
BluetoothLE/docs/Classes/ConnectedPeripheral.html
BluetoothLE/docs/Classes/PeripheralService.html
BluetoothLE/docs/Classes/PeripheralServiceBuilder.html
BluetoothLE/docs/Classes/RequestData.html
BluetoothLE/docs/Classes/ResponseData.html
BluetoothLE/docs/Classes/ServiceManager.html
BluetoothLE/docs/Classes/WriteRequestData.html
BluetoothLE/docs/css/highlight.css
BluetoothLE/docs/css/jazzy.css
BluetoothLE/docs/docsets/.tgz
BluetoothLE/docs/docsets/.docset/Contents/Info.plist
BluetoothLE/docs/docsets/.docset/Contents/Resources/docSet.dsidx
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Enums.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Extensions.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/index.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/search.json
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Structs.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/CentralService.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/ConnectedCentral.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/ConnectedPeripheral.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/PeripheralService.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/PeripheralServiceBuilder.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/RequestData.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/ResponseData.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/ServiceManager.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Classes/WriteRequestData.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/css/highlight.css
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/css/jazzy.css
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Enums/CentralServiceError.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Enums/PeripheralServiceError.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Enums/ResponseCode.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Extensions/CBCharacteristic.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/img/carat.png
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/img/dash.png
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/img/spinner.gif
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/js/jazzy.js
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/js/jazzy.search.js
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/js/jquery.min.js
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/js/lunr.min.js
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/js/typeahead.jquery.js
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/BluetoothLEServiceProtocol.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/BluetoothLEStateDelegate.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/CentralServiceDelegate.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/CentralServiceOptionalDelegate.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/ConnectedPeripheralDelegate.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PeripheralServiceDelegate.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Protocols/PeripheralServiceOptionalDelegate.html
BluetoothLE/docs/docsets/.docset/Contents/Resources/Documents/Structs/DiscoveryPeripheralData.html
BluetoothLE/docs/Enums/CentralServiceError.html
BluetoothLE/docs/Enums/PeripheralServiceError.html
BluetoothLE/docs/Enums/ResponseCode.html
BluetoothLE/docs/Extensions/CBCharacteristic.html
BluetoothLE/docs/img/carat.png
BluetoothLE/docs/img/dash.png
BluetoothLE/docs/img/spinner.gif
BluetoothLE/docs/js/jazzy.js
BluetoothLE/docs/js/jazzy.search.js
BluetoothLE/docs/js/jquery.min.js
BluetoothLE/docs/js/lunr.min.js
BluetoothLE/docs/js/typeahead.jquery.js
BluetoothLE/docs/Protocols/BluetoothLEServiceProtocol.html
BluetoothLE/docs/Protocols/BluetoothLEStateDelegate.html
BluetoothLE/docs/Protocols/CentralServiceDelegate.html
BluetoothLE/docs/Protocols/CentralServiceOptionalDelegate.html
BluetoothLE/docs/Protocols/ConnectedPeripheralDelegate.html
BluetoothLE/docs/Protocols/PeripheralServiceDelegate.html
BluetoothLE/docs/Protocols/PeripheralServiceOptionalDelegate.html
BluetoothLE/docs/Structs/DiscoveryPeripheralData.html

